<div class="vdkms-carousel">
  {% assign carousel = site.data.carousel.slides %}
  <div id="vdkmsCarousel" class="carousel slide" data-bs-ride="false">
    <!-- <div class="carousel-indicators">
      {% for slide in carousel %}
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{forloop.index0}}" class="{% if forloop.first %}active{% endif %}" aria-current="{% if forloop.first %}true{% endif %}" aria-label=""></button>
      {% endfor %}
    </div> -->
    <div class="carousel-inner">
      {% for slide in carousel %}
      <div class="p-2 p-lg-6 carousel-item {% if forloop.first %}active{% endif %}"
        style="--background: url({{ slide.image }})">
        <!-- <img src="{{ slide.image }}" class="d-block w-100" alt="..."> -->

        <div class="col-12 col-lg-8 col-xl-6 d-flex flex-column h-100 justify-content-center text-white">


          <h1 class="display-3 fw-bold">{{ slide.title }}</h1>
          <p class="text-white display-6">{{slide.text}}</p>
          {% if slide.button %}
          <!-- {% assign btn = slide.button %} -->
          <a class="button align-self-start" target="_blank" href="{{slide.button.link}}">{{slide.button.text}}</a>
          {% endif %}

        </div>
      </div>
      {% endfor %}
    </div>
    <div class="my-carousel-controls text-center">
      <a class="my-carousel-control-prev" data-bs-target="#vdkmsCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="my-carousel-control-next" data-bs-target="#vdkmsCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
      <div class="text-center text-white">
        <div class="my-carousel-indicators">
          <span class="my-carousel-indicator">1</span>
          <span>/</span>
          <span>{{carousel.size}}</span>
        </div>
        <!-- <ol class="carousel-indicators">
        {% for slide in carousel %}
        <li data-target="#vdkmsCarousel" data-slide-to="{{forloop.index0}}"
          class="my-carousel-indicator {% if forloop.first %}active{% endif %}"></li>
        {% endfor %}
      </ol> -->
      </div>
    </div>
  </div>
</div>