<div id="main-menu-mobile" class="main-menu-mobile">
  {% assign mainmenu = site.data.menus.main | sort: 'weight' %}
  <ul>
    {% for item in mainmenu %}

    <li class="{% if item.url == page.url %}active{% endif %}{% if item.subs[0] %}{% endif %}">
      {% if item.subs[0] %}
      <a class="dropdown-toggle" data-toggle="collapse" href="#collapseMenu" role="button"
        aria-controls="collapseExample" aria-expanded="false">{{ item.name }}</a>
      <div class="collapse" id="collapseMenu"">
        <ul>
          {% assign submenus = item.subs | sort: 'weight' %}
          {% for sub in submenus %}
          <li class=" {% if sub.url==page.url %}active{% endif %}">
        <a href="{{ sub.url }}">{{ sub.name }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% else %}
<a href="{{ item.url | relative_url }}">{{ item.name }}</a>
{% endif %}
</li>
{% endfor %}
</ul>
</div>